<div class="logo">
  <a class="simple-text">
      <div class="logo-img">
          <img width="40px" src="./assets/images/angular.png" />
      </div>
      My App
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
          <a class="nav-link" [routerLink]="[menuItem.path]">
              <i class="{{menuItem.icon}}"></i>
              <p>{{menuItem.title}}</p>
          </a>
      </li>
  </ul>
</div>
