<div class="container-fluid">
  <div class="row">
    <h2>Albums</h2>
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex">
      <div class="searchbox-container">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-search"></i>
          </span>
          <input type="text" class="form-control" placeholder="Search" aria-label="Search" [ngModel]="search"
            (ngModelChange)="searchAlbum($event)" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="sortby-container">
        <select class="form-select" aria-label="Default select example" (change)="sortAlbum($event.target.value)"
          [ngModel]="sortValue">
          <option disabled selected>Sort by</option>
          <option value="id">ID</option>
          <option value="title">Title</option>
          <option value="userId">Author</option>
        </select>
      </div>
    </div>
    <ng-container *ngFor="let album of visibleAlbum">
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="card mb-3 card-container">
          <div class="card-header custom-ellipsis " (click)="selectAlbum(album)">{{album.title}}</div>
          <div class="card-body text-success" (click)="selectAlbum(album)">
            <div class="text-center img-inside-container" *ngFor="let photo of album.photos |  slice:0:4">
              <img src="{{photo.thumbnailUrl}}" class="rounded" alt="{{photo.title}}" width="40px">
            </div>
            <!-- <div class="text-center">
              <img src="https://via.placeholder.com/150/771796" class="rounded" alt="..." width="40px">
            </div> -->

          </div>
          <div class="card-footer  ">By User {{album.userId}}</div>
        </div>
      </div>
    </ng-container>

  </div>
  <div class="row">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': currentPage === 1}"><a class="page-link"
            (click)="pageChanged(currentPage-1)">Previous</a></li>

        <li class="page-item " [ngClass]="{'active': currentPage === firstPage}"><a class="page-link"
            (click)="pageChanged(firstPage)">{{firstPage}}</a></li>

        <li class="page-item" [ngClass]="{'active': currentPage === firstPage+1}"><a class="page-link"
            (click)="pageChanged(firstPage+1)">{{firstPage+1}}</a></li>

        <li class="page-item" [ngClass]="{'active': currentPage === firstPage+2 }"><a class="page-link"
            (click)="pageChanged(firstPage+2)">{{firstPage+2}}</a></li>

        <li class="page-item" [ngClass]="{'disabled': (filteredAlbum?.length/10) === currentPage}"><a class="page-link"
            (click)="pageChanged(currentPage+1)">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
