<div class="container-fluid">
  <div class="row">
    <h2>Photos</h2>
    <div class="col-lg-12 col-md-8 col-sm-12 d-flex">
      <div class="searchbox-container">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-search"></i>
          </span>
          <input type="text" class="form-control" placeholder="Search" aria-label="Search"
          [ngModel]="search"
            (ngModelChange)="searchPhoto($event)"
          aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="sortby-container">
        <select class="form-select" aria-label="Default select example" (change)="sortPhoto($event.target.value)"
          [ngModel]="sortValue">
          <option disabled selected>Sort by</option>
          <option value="id">ID</option>
          <option value="title">Title</option>
          <option value="userId">Author</option>
        </select>
      </div>
    </div>
    <ng-container *ngFor="let photo of visiblePhoto">
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="text-center img-inside-container" (click)="selectPhoto(photo?.id)">
          <img class="img-thumbnail" [defaultImage]="defaultImage" [useSrcset]="true" [lazyLoad]="photo?.url">
          <p class="custom-ellipsis mt-1">{{photo?.title}}</p>
        </div>
      </div>
    </ng-container>

  </div>

  <div class="row">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': currentPage === 1}"><a class="page-link"
            (click)="pageChanged(currentPage-1)">Previous</a></li>

        <li class="page-item " [ngClass]="{'active': currentPage === firstPage}"><a class="page-link"
            (click)="pageChanged(firstPage)">{{firstPage}}</a></li>

        <li class="page-item" [ngClass]="{'active': currentPage === firstPage+1}"><a class="page-link"
            (click)="pageChanged(firstPage+1)">{{firstPage+1}}</a></li>

        <li class="page-item" [ngClass]="{'active': currentPage === firstPage+2 }"><a class="page-link"
            (click)="pageChanged(firstPage+2)">{{firstPage+2}}</a></li>

        <li class="page-item" [ngClass]="{'disabled': (filteredPhotos?.length/10) === currentPage}"><a class="page-link"
            (click)="pageChanged(currentPage+1)">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
