

body {
  background-color: #f5f8fa !important;
}

.white-bg {
  background-color: white !important;
}

.max-width-100 {
  max-width: 100% !important;
}

.d-flex {
  display: flex !important;
}
